@font-face{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/GothamBook.woff');
    src: url('fonts/Gotham-Book.ttf');
}

/* @font-face{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: bold;
    src: local('Gotham Book'), url('fonts/GothamBook.woff') format('woff');
    src: url('fonts/Gotham-Bold.ttf');
} */

@font-face{
    font-family: 'Gravity';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Gravity-Book.ttf');
}

@media (max-width: 700px){
    .card img {
        width: 100% !important;
    }
}
body{
    font-family: Gotham;
}
select{
    font-family: Gotham;
}
h2{
    font-weight: 100;
}
.navbar-logo img{
    margin: 0;
    display: inline !important;
}
.pcoded-main-container ul {
    padding-left: 43px;
    list-style-type: initial;
}
.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar .pcoded-mtext{
    position: unset !important;
    display: inline-flex;
    max-width: 159px;
}

/* hide elements */
.fixed-button{
    display: none;
}
/* ------------------------- */
.ck.ck-content.ck-editor__editable{
    min-height: 200px;
}

.dataTable.table td, .dataTable.table th {
    padding: 7px !important;
    vertical-align: middle;
}

#styleSelector .selector-toggle {
    opacity: 0;
}

.borderless td, .borderless th {
    border: none;
}
.card.exercise{
    max-width: 800px;
    margin: auto;
}

.card.card-center{
    max-width: 900px;
    margin: auto;
    padding: 0 49.795276px;
}

#clock-icon{
    background-repeat: no-repeat;
    width: 57px;
    display: inline-block;
    height: 38px;
    background-size: contain;
    position: relative;
    bottom: -7px;
}
.accordion-msg{
    background-color: #dcdedc42;;
}

/* datatable style */
.page-item.active .page-link {
    background-color: #11c788;
    border-color: #11c788;
}


/* bootstrap overrides */
.btn-primary, .sweet-alert button.confirm, .wizard>.actions a {
    background-color: #9ccc65;
    border-color: #9ccc65;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}

.btn-primary:hover, .sweet-alert button.confirm:hover, .wizard>.actions a:hover {
    background-color: #11c788;
    border-color: #11c788;
}

.swal-button {
    background-color: #66bb6a;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

.swal-button--cancel {
    color: #555;
    background-color: #efefef;
}
.swal-button:not([disabled]):hover {
    background-color: #66bb6abd;
}
.swal-button--cancel:not([disabled]):hover {
    background-color: #e8e8e8;
}
.swal-button:focus {
    outline: none;
    box-shadow: none;
}
.checkbox-fade.fade-in-primary .cr, .checkbox-fade.zoom-primary .cr, .checkbox-zoom.fade-in-primary .cr, .checkbox-zoom.zoom-primary .cr {
    border: 2px solid #94cf97;
}

.checkbox-fade.fade-in-primary .cr .cr-icon, .checkbox-fade.zoom-primary .cr .cr-icon, .checkbox-zoom.fade-in-primary .cr .cr-icon, .checkbox-zoom.zoom-primary .cr .cr-icon {
    color: #11c788;
}

.color-accordion-block a.ui-state-active, .color-accordion-block a:focus, .color-accordion-block a:hover {
    color: #fff;
    background: #11c788;
}

.table td{
    white-space: normal;
}

.table h5{
    line-height: 1.7em !important;
}
#notification a:hover {
    background: inherit !important;
}