/* hide elements */
.fixed-button{
    display: none;
}

.ck.ck-content.ck-editor__editable{
    min-height: 200px;
}

.dataTable.table td, .dataTable.table th {
    padding: 7px !important;
    vertical-align: middle;
}