/* hide elements */
.fixed-button{
    display: none;
}
/* ------------------------- */
.ck.ck-content.ck-editor__editable{
    min-height: 200px;
}

.dataTable.table td, .dataTable.table th {
    padding: 7px !important;
    vertical-align: middle;
}

#styleSelector .selector-toggle {
    opacity: 0;
}

.borderless td, .borderless th {
    border: none;
}
.card.exercise{
    max-width: 800px;
    margin: auto;
}

.card.card-center{
    max-width: 900px;
    margin: auto;
}

#clock-icon{
    background-repeat: no-repeat;
    width: 57px;
    display: inline-block;
    height: 38px;
    background-size: contain;
    position: relative;
    bottom: -7px;
}
.accordion-msg{
    background-color: #dcdedc42;;
}